$primary:#fad2e1;
$secondary:#ffd7ba;
$third:#ffd7ba;
$font:#f8edeb;
$background-color:#ffe5d9;
$text-primary:#ffd7ba;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  font-family: 'Permanent Marker', cursive;
}

#welcome-container {
  padding-bottom: 13rem;
}

#sign-up-container {
  padding-bottom: 10rem;
}

#sign-in-container {
  padding-bottom: 13rem;
}

#welcome, .box {
  position: relative;
  background: rgba(255,255,255,.8);
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.box {
  position: relative;
  background: rgba(255,255,255,.6);
  box-shadow: 0 5px 5px rgba(0,0,0,.5);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

textarea, .show-post-text, .show-comment-text {
  font-family: 'Roboto', sans-serif;
  white-space: pre-line;
}

.owner {
  color: #fad2e1;
}

.post-date {
  color: grey;
}

.post-index-date {
  color: lightgrey;
}

.comment-date {
  color: lightgrey;
}

.post-box {
  box-shadow: -1px -1px 7px .5px $primary;
}

@media (max-width:500px) {
  #sign-in-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  #sign-up-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
}

@media (min-width:800px) {
  .index-posts {
    padding-left: 28rem;
    padding-right: 28rem;
  }
}

@media (min-width:800px) {
  .show-post {
    padding-left: 25rem;
    padding-right: 25rem;
  }
}
